
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    
    <script>
        // ?success=true&message=Your%20profile%20has%20been%20updated.
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('success') == 'true') {
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: decodeURIComponent(urlParams.get('message')),
            footer: `&copy; <%= new Date().getFullYear() %> <%= site.name %> All Rights Reserved.`,
            showConfirmButton: false,
            timer: 1.5 * 1000
        }).then((result) => {
            // // ?success=true&message=Your%20profile%20has%20been%20updated. dan sonraki ?success=true&message=Your%20profile%20has%20been%20updated. kısmını siler.
            //?success=true&message=Your%20profile%20has%20been%20updated. kısmını siler.
            let url = window.location.href;
            url = url.split('?')[0];
            window.history.pushState({}, document.title, url);
        });
    }

    if (urlParams.get('error') == 'true') {
        Swal.fire({
            position: 'center',
            icon: 'error',
            title: decodeURIComponent(urlParams.get('message')),
            footer: `&copy; <%= new Date().getFullYear() %> <%= site.name %> All Rights Reserved.`,
            showConfirmButton: false,
            timer: 1.5 * 1000
        }).then((result) => {
            let url = window.location.href;
            url = url.split('?')[0];
            window.history.pushState({}, document.title, url);
        });
    }
    </script>
    <script src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
