<%- include('./include/head.ejs', { site, page_name }) %>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <%- include('./include/aside.ejs', { site }) %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          <%- include('./include/navbar.ejs', { user }) %>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Dashboard / </span> Script Ekle</h4>

              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-4">
                    <h5 class="card-header">Script Ekle</h5>
                    <div class="card-body">
                      <form id="formAccountSettings" action="/create_script" method="POST">
                        <div class="row">
                          <div class="mb-3 col-md-12">
                            <label for="name" class="form-label">Script Adı</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Script Adı" required>
                          </div>

                          <div class="mt-2">
                            <button type="submit" class="btn btn-primary col-12 mb-3" id="submit">Ekle</button>
                          </div>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
<%- include('./include/footer.ejs', { site }) %>