<%- include('./include/head.ejs', { site, page_name }) %>

  <body>
    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="/" class="app-brand-link gap-2">
                  <span class="app-brand-text demo text-body fw-bolder" style="text-transform: uppercase; font-size: 1.5rem;"><%= site.name %></span>
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">Tekrar Hoşgeldiniz! 👋</h4>
              <p class="mb-4">Lütfen giriş yapmak için bilgilerinizi girin ve devam edin.</p>

              <form id="formAuthentication" class="mb-3" action="/login" method="POST">
                <div class="mb-3">
                  <label for="username" class="form-label">Kullanıcı Adı</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Kullanıcı Adı"
                    autofocus
                  />
                </div>
                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Şifre</label>
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember-me" />
                    <label class="form-check-label" for="remember-me"> Beni hatırla </label>
                  </div>
                </div>


                <div class="mb-3">
                  <button class="btn btn-primary d-grid w-100" type="submit" id="login">Giriş Yap</button>
                </div>
              </form>

              <p class="text-center">
                <a href="https://fastuptime.com">
                  <span>FastUptime</span>
                </a>
              </p>
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>

<%- include('./include/footer.ejs', { site, page_name }) %>